@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Componente Oculto */
.home-content {
  display: none;
}

:root {
  --red: #E64747;
  --selected: #F0F0F0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto';
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid ;
}

.entries-map-aside {
  display: flex;
  flex-direction: column;
}

.logo-text {
  color: #333333;
}

.nav-items {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-item > a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  transition: 0.3s ease;
}

.nav-item {
  list-style: none;
}



.hero-img {
  height: 10%;        
  width: 100%;
  object-fit: cover;   
}

.buttons {
  display: flex;
  gap: 20px;
}

.cta-button {
  padding: 20px;

}

.buttons > a {
  background-color: var(--red);
  border: none;
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: 0.5s ease;
}

.buttons > a:hover {
  background-color: #8a1212;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 40vh;       
  text-align: center;  
  padding: 0 20px;     
  position: relative;  
  z-index: 1;          
}

.hero-content-about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  height: 70vh;       
  text-align: center;  
  padding: 0 20px;     
  position: relative;  
  z-index: 1;          
}

.image-container {
  position: relative;
  width: 100%; /* El ancho de la imagen */
  height: 40vh; /* O la altura que prefieras para el recorte */
  overflow: hidden; /* Esto ocultará la parte que no quieres mostrar */
  margin-bottom: 20px;
}

.image-container img {
  width: 100%;
  height: auto; /* Esto asegura que la imagen mantenga su proporción */
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1; /* Asegúrate de que el overlay esté sobre la imagen */
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.category-btn {
  background-color: var(--red);
  color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.category-btn:hover {
  background-color: #751f1f;
}

.cat-asd {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.cat-ent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.entry {
  display: flex;
  flex-direction: column;
}

.container > a {
  color: white;
  text-decoration: none;
}

.container > * {
  margin: 10px;
}

.entries-container {
  width: 100%;
  padding-left: 20px;
}

.counter {
  text-align: center;
}

aside {
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  color: white;
}

aside > h3 {
  color: black;
  margin-top: 0;
}

.latest-entries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about-me-whole-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-title {
  text-align: center;
  color: var(--red);
}

.about-me-p {
  text-align: center;
  padding: 20px;
  width: 50%;
}

tr {
  display: block;
  float: left;

}

th,td {
  display: block;
  border: 1px solid black;
  padding: 20px;
}

.table-head {
  color: var(--red);
}

tr > *:not(:first-child) {
  border-top: 0;
}

.aside-entry {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius: 10px;
  -webkit-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
}

.harlys-img {
  width: 40vh;
  border-radius: 400vh;
}

.selected-nav {
  background-color: var(--selected);
  padding: 10px;
  border-radius: 10px;
}

.selected {
  background-color: #831919;
}

.entries-inside-container {
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
  padding: 10px;
  background-color: white;
  border-bottom: #333333 solid 1px;
}

.entries-inside-container:last-of-type {
  border-bottom: none;
}

.entries-inside-container > * {
  margin: 12px;
}

.entries-inside-container > h1 {
  color: #010101;
}

.entries-inside-container > h3 {
  color: #262628;
}


.entries-inside-container > p {
  color: #787878;
}

.entries-inside-container > a {
  color: #0c21dd;
}



.entry > a {
  color: black;
  transition: 0.3s ease;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 10px;
  color: white;
  background-color: var(--red);
  border-radius: 10px;
}

.aside-entry > a {
  text-decoration: none;
}

.container:hover {
  background-color: #751f1f;
}

.set-entry {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 30px;
  padding: 20px;

}

.set-entry > select {
  width: 35%;
}

.entry-whole-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entry-text {
  width: 50%;
  text-align: justify;
}

.span-text {
  font-size: 12px;
}


.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

footer {
  background-color: white;
  color: #333333;
  padding: 10px;
}

footer > p {
  text-align: center;
}

.menu-buttons {
  background-color: transparent;
  color: var(--red);
  transition: 0.3s ease;
  border: none;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
}

.menu-buttons:hover {
  color: #8a1212;
}

.social-media-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.input {
  white-space: pre-wrap;
}

.fa-brands {
  font-size: 60px;
  transition: 0.5s ease;
  color: black;
}

.fa-instagram:hover {
  color: rgb(247, 124, 206);
}

.fa-linkedin:hover {
  color: #0275B4;
}

.fa-x-twitter:hover {
  color: black;
}

.fa-github:hover {
  color: #FFA100;
}


span {
  font-size: 1.4rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

textarea {
  width: 600px;
  height: 500px;
}


@media (max-width: 1024px) {
  .hero-img {
    height: 50%;       
  }

  .hero-content {
    height: 90vh;      
    padding: 0 15px;   
  }

  .overlay {
    height: 80%;
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {

  .about-me-container {
    margin-bottom: -100px;
  }

  .about-me-p {
    width: 80%;
  }

  table {
    font-size: 15px;
     }

  .categories {
    gap: 10px;
  }

  .latest-entries {
    display: none;
  }

  .hero-img {
    height: 60%;       
  }

  .hero-content {
    height: auto;      
    padding: 0 10px;   
    font-size: 10px;
    margin-top: 50px;
  }

  .about-me-container {
    gap: 0;
    flex-direction: column;
  }

  .harlys-img {
    margin-top: 1.25%;
  }

  .hero-content-about-me {
    margin-top: -13vh;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.6);  
    height: 80%;
  }
}